<html>
  <head>
    <style type="text/css">
      html, body {
        font-family: Georgia;
        font-size: 16px;
        line-height: 1.4; /* Magic number is 21px */
        color: #d7d6d6;
        text-shadow: 0 -1px rgba(0,0,0,0.8);
      }
      body {
        background-color: #232424;
        background-image: url('/img/dark_fish_skin.png');
        background-repeat: repeat;
      }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        body {
          background-image: url('/img/dark_fish_skin_@2X.png');
        }
      }
      dark_fish_skin_@2X.png
        text-shadow: 0 -1px black;
      * { margin: 0; padding: 0; }
      h1, h2 {
        font-family: Garamond;
        color: #f5f4f4;
        color: #e3e3e2;
        text-shadow: 0 -1px black;
      }
      h1 {
        text-align: center;
        font-size: 2.4rem;
        line-height: 1.17;
        margin-bottom: 42px;
      }
      h2 {
        font-size: 2.0rem;
        line-height: 1.17;
        margin-bottom: 21px;
      }
      p, pre {
        font-size: 1.0rem;
        line-height: 1.4;
        margin-bottom: 21px;
        text-align: justify;
      }
      .revision {
        margin-bottom: 21px;
      }
      hr {
        height: 0;
        border-bottom: 0.5px solid #c3c3c2;
        margin: 21px 0;
      }
      section[role=main] {
        width: 726px;
        margin: 52px auto 42px;
        padding: 0 21px 0;
      }
      @media only screen and (max-width: 768px) {
        section[role=main] {
          width: auto;
        }
      }
      a {
        color: #92D0E8;
        text-decoration: none;
      }
      a:visited {
        color: #83C4DE;
      }
      a:active {
        color: #DE8383;
      }
      ul {
        margin: 0 0 0 21px;
        padding: 0;
      }
      li {
        margin: 0;
        padding: 0;
        line-height: 1.4; /* Magic number is 21px */
      }
      footer p {
        margin-top: 42px;
        font-style: italic;
        color: #c3c3c2;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <section role="main">
      <header>
        <h1>Builds from the Ember repo</h1>
        <hr />
        <p>We take each commit to <a href="https://github.com/emberjs/ember.js">Ember.js</a> and build ready-to-include files. Use them to see if your bug is still present on master. We suggest <a href="http://jsfiddle.net/">jsfiddle</a> to check for a bug.</p>
      </header>

      <% @projects.each do |project_data| %>
        <div class="revision">
          <p>
            <%= project_data['revision'] %>
            [<a href="https://github.com/emberjs/ember.js/commit/<%= project_data['revision'] %>">GitHub</a>]
            @ <%= Time.at(project_data['timestamp']) %>
          </p>
          <ul>
            <% @project_files.each do |filename, filepath| %>
              <li>
                <a href="<%= url_from_project(project_data, filepath) %>">
                  <%= filename %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <div class="revision">
        <p>
          3d2f2d32d
          [<a href="https://github.com/emberjs/ember.js/commit/3d2f2d32d">GitHub</a>]
          @ 2013-02-15 12:16:20 EST
        </p>
        <ul>
          <li><a href="#">ember.js</a></li>
          <li><a href="#">handlebars.js</a></li>
          <li><a href="#">ember-runtime.js</a></li>
        </ul>
      </div>

      <hr />

      <footer>
        <p>Built for your testing pleasure by <a href="http://twitter.com/bantic">@bantic</a> and <a href="http://twitter.com/mixonic">@mixonic</a>.</p>
      </footer>
    </section>
  </body>
</html>
